{%  load static %}

<div class="row answer">
    <div class="col-2">
        <img class="avatar-question" src="{% static "img/3.jpg" %}" alt>
    </div>
    <div class="col-10">
        <p class="answer-text">{{ answer.text }}</p>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="btn likes-buttons">
                 <img class="like" src="{% static "img/like.png" %}">
            </div>

            <span class="text-success">
                {{ answer.likes }}
            </span>

            <div class="btn likes-buttons">
                <img class="dislike" src="{% static "img/like.png" %}">
            </div>

            <span class="text-danger">
               {{ answer.dislikes }}
            </span>

        </div>

        <div class="col-4 btn">
            <span>
                  <p> <b>Author:</b>&nbsp <a href="#################">{{ answer.author }}</a> </p>
                </span>
        </div>

        <div class="col-5">
            <div class="container">
                <a class="btn"> <b>Tags:</b></a>
                {% for tag in question.tags.all %}
                    {% include "include/tags.html" %}
                {% endfor %}
            </div>
        </div>

        <a class="btn"> <b>date:</b>&nbsp{{ answer.pub_date }}</a>

    </div>
</div>
