{%  load static %}

<div class="row answer">
    <div class="col-2 text-center">
        <img class="avatar-question" src="{{ answer.author.avatar.url }}" alt>

        <p></p>

        <form class="mb-1">
            {% csrf_token %}
            <button type="button" class="btn btn-success like-answer" data-id="{{ answer.id }}"> {{ answer.likes }} Likes</button>
        </form>

        <p></p>

        <form class="mb-1">
            {% csrf_token %}
            <button type="button" class="btn btn-danger dislike-answer" data-id="{{ answer.id }}"> {{ answer.dislikes }} Dislikes</button>
        </form>

        <p></p>

            {% if answer.question.author == request.user.profile_related %}
            {% csrf_token %}
                <button type="button" class="btn btn-outline-primary correct-answer"
                        data-id="{{ answer.id }}">{{ answer.correct }}</button>
            {% else %}
                <label class="btn btn-outline-primary">{{ answer.correct }}</label>
            {% endif %}
    </div>

    <div class="col-10">
        <p class="answer-text">{{ answer.text }}</p>

        <div class="row">
            <div class="col-5">
                <b>Author:</b> &nbsp<a href="###########">{{ answer.author }}</a>
            </div>

            <div class="col-7">
                <b>Tags:</b> &nbsp<a
                    {% for tag in answer.tags.all %}
                        {% include "include/tags.html" %}
                    {% endfor %}
                </a>
            </div>
        </div>
    </div>


    <div class="row text-center">
         <a class="btn"> <b>Date:</b>&nbsp{{ answer.pub_date }}</a>
    </div>
</div>
