{%  load static %}

<div class="row answer">
    <div class="col-2">
        <img class="avatar-question" src="{% static "img/3.jpg" %}" alt>
    </div>
    <div class="col-10">
        <p class="answer-text">{{ answer.text }}</p>
    </div>

    <div class="row">
        <p></p>
        <div class="col-1">
            <button type="button" class="btn btn-success like"> {{ question.likes }} Like</button>
        </div>

        <div class="col-1">
            <button type="button" class="btn btn-danger dislike"> {{ question.dislikes }} Dis</button>
        </div>

        <div class="col-5">
            <p><b>Author:</b> &nbsp<a href="###########">{{ question.author }}</a> </p>
        </div>

        <div class="col-5">
            <a><b>Tags:</b></a>
                {% for tag in question.tags.all %}
                    {% include "include/tags.html" %}
                {% endfor %}
        </div>

        <a class="btn"> <b>date:</b>&nbsp{{ question.pub_date }}</a>
    </div>
</div>
