{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Askme</title>
    <link rel="shortcut icon" href="{% static "img/logo.png" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/settings_user.css" %}">
    <link rel="stylesheet" href="{% static "css/answer.css" %}">
    <link rel="stylesheet" href="{% static "css/question.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">

</head>
<body class="d-flex flex-column h-100">

{% block type_work %}
{% include "include/navbar.html" %}
{% endblock type_work %}

<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                {% block content %}
                {% endblock content %}
                <div class="container text-center">
                    <span class="text-muted">{% block footer %} All rights reserved С{% endblock footer %}</span>
                </div>
            </div>

            <div class="col-md-3 col-lg-3">
                {% block side_panel %}
                    {% include "include/popular_tags.html" %}
                    {% include "include/best_members.html" %}
                {% endblock side_panel %}
            </div>
        </div>
    </div>
</main>
</body>

<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/like.js" %}"></script>

</html>