{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Askme</title>
    <link rel="shortcut icon" href="{% static "img/logo.png" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/settings_user.css" %}">
    <link rel="stylesheet" href="{% static "css/answer.css" %}">
    <link rel="stylesheet" href="{% static "css/question.css" %}">

</head>
<body class="d-flex flex-column h-100">

{% block type_work %}
{% include "include/navbar.html" %}
{% endblock type_work %}

<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                {% block content %}
                {% endblock content %}
                <div class="container text-center">
                    <span class="text-muted">{% block footer %} All rights reserved С{% endblock footer %}</span>
                </div>
            </div>

            <div class="col-md-3 col-lg-3">
                {% block side_panel %}
                    {% include "include/popular_tags.html" %}
                    {% include "include/best_members.html" %}
                {% endblock side_panel %}
            </div>
        </div>
    </div>
</main>

<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>

<script>
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getCookie('csrftoken');

    $(".like-q").on('click', function(ev) {
        const $this = $(this);
        const request = new Request(
        'http://127.0.0.1:8000/like/',
        {
            method: 'post',
            headers: {
                'X-CSRFToken': csrftoken,
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: 'question_id=' + $this.data('id')
        }
    );
    fetch(request).then(function (response) {
        console.log(response);
    })
})

    $(".dislike-q").on('click', function(ev) {
        console.log('disliked')
    })
</script>
