{%  load static %}

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">

        <div class="">
            <a class="btn change-page" href="################" rel="next" title="Go to prev page"> Prev</a>

            <div class="btn change-page">1</div>

            <a class="btn change-page" href="{% url "page" 2 %}" rel="" title="Go to page 2">2</a>
            <a class="btn change-page" href="{% url "page" 3 %}" rel="" title="Go to page 3">3</a>
            <a class="btn change-page" href="{% url "page" 4 %}" rel="" title="Go to page 4">4</a>
            <a class="btn change-page" href=""{% url "page" 5 %}" rel="" title="Go to page 5">5</a>

            <span class="fs-2"> ....</span>

            <a class="btn change-page" href="{% url "page" 222 %}" rel="" title="Go to page 50703">222</a>
            <a class="btn change-page" href="################" rel="next" title="Go to next page"> Next</a>
        </div>

    </div>
</footer>