{%  load static %}

<h1 class="mt-5 text-center">Popular Tags</h1>
<div class="btn-group-vertical">

    <div class="btn-group">
        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Python</a>
        </div>

        <div class="tags-buttons tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">C++</a>
        </div>

        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Qt</a>
        </div>
    </div>

    <div class="btn-group">
        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">C#</a>
        </div>

        <div class="tags-buttons tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">JS</a>
        </div>

        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Go</a>
        </div>
    </div>

    <div class="btn-group">
        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">C</a>
        </div>

        <div class="tags-buttons tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Pascal</a>
        </div>

        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Rust</a>
        </div>
    </div>

    <div class="btn-group">
        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">1C</a>
        </div>

        <div class="tags-buttons tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Rudy</a>
        </div>

        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">TypeScript</a>
        </div>
    </div>

    <h1 class="mt-5 text-center">Best members</h1>
    <div class="tags-buttons">
        <a href="templates/index.html" class="link-info">Bogdan007</a>
    </div>

    <div class="tags-buttons">
        <a href="templates/index.html" class="link-info">Avenger303</a>
    </div>
    <div class="tags-buttons">
        <a href="templates/index.html" class="link-info">Bomonec373</a>
    </div>

    <div class="tags-buttons">
        <a href="templates/index.html" class="link-info">MC_Gogozik</a>
    </div>

    <div class="tags-buttons">
        <a href="templates/index.html" class="link-info">More people</a>
    </div>
</div>