{%  load static %}

<div class="row question {% if one_question %} bottom-border answer-shift{% endif %}">
    <div class="col-2">
        <img class="avatar-question" src="{% static "img/1.jpg" %}">

        <a class="btn"> <b>votes:</b>&nbsp
            {% if question.votes == None %}
                0
            {% else %}
                {{ question.votes }}
            {% endif %}
        </a>

        <a href="{% url "question" question_id=question.id %}" class="btn btn-outline-success"> <b>answers:</b>&nbsp
            {% if question.answers == None %}
                0
            {% else %}
                {{ question.answers }}
            {% endif %}</a>

        <a class="btn"> <b>views:</b>&nbsp
            {% if question.views == None %}
                0
            {% else %}
                {{ question.views }}
            {% endif %}
        </a>

    </div>
    <div class="col-md-10 col-lg-10">
        <h3><a href="{% url "question" question_id=question.id %}" class="text-dark">{{ question.title }}</a></h3>
        <p>{{ question.text }}</p>
    </div>

    <div class="row">
        <div class="col-1">
            <button type="button" class="btn btn-success like"> {{ question.likes }} Like</button>
        </div>

        <div class="col-1">
            <button type="button" class="btn btn-danger dislike"> {{ question.dislikes }} Dis</button>
        </div>

        <div class="col-5">
            <p><b>Author:</b> &nbsp<a href="###########">{{ question.author }}</a> </p>
        </div>

        <div class="col-5">
            <a><b>Tags:</b></a>
                {% for tag in question.tags.all %}
                    {% include "include/tags.html" %}
                {% endfor %}
        </div>

        <a class="btn"> <b>date:</b>&nbsp{{ question.pub_date }}</a>
    </div>
</div>
