{%  load static %}

<div class="row question {% if one_question %} bottom-border answer-shift{% endif %}">
    <div class="col-2 text-center">
        <p></p>

        <img class="avatar-question" src="{{ question.author.avatar.url }}">

        <p></p>

        <a href="{% url "question" question_id=question.id %}" class="btn btn-outline-info"> <b>answers:</b>&nbsp {{ question.answers }}</a>

        <p></p>

        <form class="mb-1">
            {% csrf_token %}
            <button type="button" class="btn btn-success like-q" data-id="{{ question.id }}"> {{ question.likes }} Like</button>
        </form>

        <p></p>

        <form class="mb-1">
            {% csrf_token %}
            <button type="button" class="btn btn-danger dislike-q" data-id="{{ question.id }}"> {{ question.dislikes }} Dis</button>
        </form>
    </div>
    <div class="col-md-10 col-lg-10">
        <h3><a class="text-dark">{{ question.title }}</a></h3>

        <p>{{ question.text }}</p>

        <div class="row">
            <div class="col-4">
                <b>Author:</b> &nbsp<a href="###########">{{ question.author }}</a>
            </div>

            <div class="col-8">
                <b>Tags:</b> &nbsp<a
                    {% for tag in question.tags.all %}
                        {% include "include/tags.html" %}
                    {% endfor %}
                </a>
            </div>
        </div>

    </div>
    <a class="btn"> <b>Date:</b>&nbsp{{ question.pub_date }}</a>
</div>
