.question-textarea-title {
    width: 70%;
}

.question-textarea-text {
    width: 70%;
}

.question-textarea-tags {
    width: 35%;
}

.question-author-pos {
    margin-top: 15px;
    margin-left: -50px;
}

.avatar-question-inter {
    width: 150px;
    height: 150px;
    margin-left: 8px;
    margin-top: 15px;
}

.question {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 3px;
    padding: 10px;
}

.question-main {
    margin: 20px;
    padding: 10px;
}

.avatar-question {
    border-radius: 10px;
    width: 90px;
    height: 120px;
    margin-top: 15px;
}

.like-q {
}

.dislike-q {
}




