{% extends "include/base.html" %}
{% load static %}


{% block type_work %}
{% include "include/authorized.html" %}
{% endblock type_work %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <h2 class="mt-5">New Questions</h2>
        </div>
        <div class="col-md-2 col-lg-2">
            <a href="index.html" class="btn btn-link mt-5">Hot Question</a>
        </div>
    </div>

    {% for question in questions %}
    {% include "include/question.html" %}
    {% endfor %}

</div>
{% endblock content %}

{% block side_panel %}
<h1 class="mt-5 text-center">Popular Tags</h1>
<div class="btn-group-vertical">

    <div class="btn-group">
        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Python</a>
        </div>

        <div class="tags-buttons tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">C++</a>
        </div>

        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Qt</a>
        </div>
    </div>

    <div class="btn-group">
        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">C#</a>
        </div>

        <div class="tags-buttons tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">JS</a>
        </div>

        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Go</a>
        </div>
    </div>

    <div class="btn-group">
        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">C</a>
        </div>

        <div class="tags-buttons tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Pascal</a>
        </div>

        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Rust</a>
        </div>
    </div>

    <div class="btn-group">
        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">1C</a>
        </div>

        <div class="tags-buttons tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">Rudy</a>
        </div>

        <div class="tags-buttons btn-group-lg">
            <a href="templates/index.html" class="btn btn-success">TypeScript</a>
        </div>
    </div>

    <h1 class="mt-5 text-center">Best members</h1>
    <div class="tags-buttons">
        <a href="templates/index.html" class="link-info">Bogdan007</a>
    </div>

    <div class="tags-buttons">
        <a href="templates/index.html" class="link-info">Avenger303</a>
    </div>
    <div class="tags-buttons">
        <a href="templates/index.html" class="link-info">Bomonec373</a>
    </div>

    <div class="tags-buttons">
        <a href="templates/index.html" class="link-info">MC_Gogozik</a>
    </div>

    <div class="tags-buttons">
        <a href="templates/index.html" class="link-info">More people</a>
    </div>
</div>
{% endblock side_panel %}

{% block pages %}
{% include "include/pages.html" %}
{% endblock pages %}
