{% extends "include/base.html" %}
{% load static %}


{% block type_work %}
{% include "include/authorized.html" %}
{% endblock type_work %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <h2 class="mt-5">New Questions</h2>
        </div>
        <div class="col-md-2 col-lg-2">
            <a href="{% url "index" %}" class="btn btn-link mt-5">Hot Question</a>
        </div>
    </div>

    {% for question in questions %}
    {% include "include/question.html" %}
    {% endfor %}

</div>
{% endblock content %}

{% block side_panel %}
{% include "include/popular_tags.html" %}
{% include "include/best_members.html" %}
{% endblock side_panel %}

{% block pages %}
{% include "include/pages.html" %}
{% endblock pages %}
