{% extends "include/base.html" %}
{% load static %}

{% block type_work %}
{% include "include/authorized.html" %}
{% endblock type_work %}


{% block content %}
<h2 class="mt-5">Question</h2>

{% include "include/question.html" %}

<hr class="answer-hr">
<h3><a class="text-decoration-none text-dark">2 answers</a></h3>

{% for answer in answers %}
    {% include "include/answer.html" %}
{% endfor %}

<form>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your answer</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Notify me of responses by mail</label>
    </div>
    <button type="submit" class="btn btn-primary mb-5">Post your answer</button>
</form>
{% endblock content %}
