{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="form-signin text-center m-auto" style="width: 30em;">
    <form action="/signup/" method="post" enctype="multipart/form-data" novalidate>
        <img class="mb-4 login_margin" src="{% static "img/logo.png" %}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Sign up</h1>
        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
    </form>

    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</div>
{% endblock content %}
