{% extends "include/base.html" %}
{% load static %}


{% block type_work %}
{% include "include/unauthorized.html" %}
{% endblock type_work %}

{% block content %}
<div class="row">
    <div class="col-1">
        <h2 class="mt-5">Tag:</h2>
    </div>
    <div class="col-md-2 col-lg-2">
        <h2 class="mt-5">{{tag}}</h2>
    </div>
</div>

{% for question in questions %}
{% include "include/question.html" %}
{% endfor %}

{% endblock content %}

{% block side_panel %}
{% include "include/popular_tags.html" %}
{% include "include/best_members.html" %}
{% endblock side_panel %}

{% block pages %}
{% include "include/pages.html" %}
{% endblock pages %}
